 .title{
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}
body {
  counter-reset: titleNum;
}
section {
  counter-increment: titleNum;
}
.num{
  position: relative;
  padding: 0 0 .5em 2em;
  border-bottom: 1px solid #ccc;
}
.num::before {
  position: absolute;
  top: 0;
  left: 0;
  content: counter(titleNum);
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #ccc;
  border-radius: 100%;
  color: #fff;
  font-size: .9em;
  text-align: center;
}

.t_soft {
  padding: .6em 1em;
  background: #fff;
  background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
  background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
  border-top: 1px solid #888;
  border-right: 10px solid #aaa;
  border-bottom: 1px solid #888;
  border-left: 30px double #aaa;
  border-radius: 7px;
  color: #f00;
  font-weight: 600;
  font-size: 1.25em;
}